@media(max-width:700px)



.football{
    background-color: blue;
    display: flex;
    font-weight: 900;
    }
    .paragraph{
        padding-left: 20px;
        padding-top: 80px;
    }
img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    transition: steps();
}
@media(min-width:900px)

.photo-album{
    display: flex;
}
.photo-adjust{
    display: flex;
}
.photo-frame{
    width: 300px;
    height: 200px;
    border: 2px;
    margin: 10px;
}
.icon{
    width: 100%;
}