.football{
    background-color: blue;
    display: flex;
    font-weight: 900;
    }
    .paragraph{
        padding-left: 20px;
        padding-top: 80px;
    }
img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}